### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [60]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [61]:
#loc 
PlayersList = purchase_data["SN"].unique()
NumberPlayers = len(PlayersList)
#.drop_duplicates
PlayersTotal_df = pd.DataFrame([[NumberPlayers]],columns=['Total Players'])
#.count
#create df, 
PlayersTotal_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [62]:
# .mean of price for avg item price
#Total Purchase Value --> Sum function on price column
# Purchase Count --> .count
#number of unique values -> use unique function on item id column
#find length of that, will give count of items


#df to hold results, like shown below pd.DataFrame

#clean data into proper format
#display the table
# Number of Unique Items
UniqueItems = purchase_data["Item ID"].unique()
NumberItems = len(UniqueItems)
# Average Purchase Price
AveragePrice = purchase_data["Price"].mean()
AvgPrice = "${:.2f}".format(AveragePrice)
# Total Number of Purchases
TotalPurchases = purchase_data["Purchase ID"].count()
TotalPurchases
# Total Revenue
TotalRevenue = purchase_data["Price"].sum()
TtlRev = "${:.2f}".format(TotalRevenue)
PurchasingAnalysis_df = pd.DataFrame({
    "Number of Unique Items":[NumberItems],
    "Average Price":[AvgPrice],
    "Number of Purchases":[TotalPurchases],
    "Total Revenue":[TtlRev]})
PurchasingAnalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [63]:
#AveragePrice = purchase_data["Price"].map("${:.2f}".format)
#AveragePrice
#"${:.2f}".format(purchase_data["Price"].mean())

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
#create df with username and gender
#calculate count and percentage by gender
#.value_counts
#create variable that holds percentages (gendercount/totalplayers)
#create df
#will have line of code for formatting
#brackets after the parentheses inside valuecounts

In [65]:
Genders_df = purchase_data[["SN","Gender","Age"]].drop_duplicates(subset=["SN"])
MaleCount = Genders_df["Gender"].value_counts()["Male"]
FemaleCount = Genders_df["Gender"].value_counts()["Female"]
OtherCount = Genders_df["Gender"].value_counts()["Other / Non-Disclosed"]
TotalCount = MaleCount + FemaleCount + OtherCount
MalePercent = MaleCount/TotalCount
MaleP  = "{:.2%}".format(MalePercent)
FemalePercent = FemaleCount/TotalCount
FemaleP  = "{:.2%}".format(FemalePercent)
OtherPercent = OtherCount/TotalCount
OtherP  = "{:.2%}".format(OtherPercent)

DisplayGenders_df = pd.DataFrame({
    "Total Count":[MaleCount,FemaleCount,OtherCount],
    "Percentage of Players":[MaleP,FemaleP,OtherP],
    "Gender":["Male","Female","Other / Non-Disclosed"]})

In [66]:
DisplayGenders_df = DisplayGenders_df.set_index("Gender")
DisplayGenders_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [67]:
PlayerDemographics = purchase_data.loc[:, ["Gender", "SN", "Age"]]
PlayerDemographics = PlayerDemographics.drop_duplicates()
GenderDemographicsTotal = PlayerDemographics["Gender"].value_counts()
GenderPurchaseTotal = purchase_data.groupby(["Gender"]).sum()["Price"]
normalized_total = GenderPurchaseTotal / GenderDemographicsTotal

In [68]:
#purchase_data.head()
GenderAnalysis_df = purchase_data[["Purchase ID","SN","Gender","Item ID","Age","Price"]]
GroupedGender_df = GenderAnalysis_df.groupby(["Gender"])
GenderCount = GroupedGender_df["Gender"].value_counts()
PurchaseCount = GroupedGender_df["Purchase ID"].count()
AvgPrice = GroupedGender_df["Price"].mean()
GroupedSN = purchase_data.groupby(["SN"])
#AvgTotalPPP = purchasetotal/totalcount
#groupgy gender,the total sum then the mean of that sum
TotalPurchaseValue = GroupedGender_df["Price"].sum()
AvgTotalPPP = TotalPurchaseValue/GenderCount
AvgTotalPPP
# Average Total Purchase per Person: 
GenderSummary_df = pd.DataFrame({"Purchase Count": PurchaseCount,
                            "Average Purchase Price": AvgPrice.map("${:.2f}".format),
                            "Total Purchase Value":TotalPurchaseValue.map("${:.2f}".format),
                            "Avg Total Purchase per Person":normalized_total.map("${:.2f}".format)})
#AvgTotalPPP
#type(purchase_data["Gender"].value_counts())
#type(GroupedGender_df.sum()["Price"])
#type(AvgTotalPPP)
GenderSummary_df

#PurchaseCount = purchase_data[].value_counts()["Purchase ID"]

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [69]:
#Establish the bins
#Create 2 empty lists called "AgeBins" and "groupnames"
#Categorize using pd.cut
#Calc numbers and percentages by age group
#Proper formatting
#Display age demographics table using sort_index
AgeBins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,120]
AgeGroups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
Genders_df["Age Group"] = pd.cut(Genders_df["Age"], AgeBins, labels=AgeGroups)
Genders_df
Ageby = Genders_df.groupby("Age Group")
TotalCountofAge = Ageby.count()
Percentages = TotalCountofAge/TotalCount *100
SummaryAge_df1 = pd.merge(TotalCountofAge, Percentages, on="Age Group")
SummaryAge_df2 = SummaryAge_df1.drop(columns=['SN_x', 'Gender_x','SN_y','Gender_y'])
SummaryAge_df3 = SummaryAge_df2.rename(columns={'Age_x':'Total Count','Age_y':"Percentage of Players"})
SummaryAge_df3["Percentage of Players"] = SummaryAge_df3["Percentage of Players"].map("{:.2f}%".format)
SummaryAge_df3

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
AgeBins = [0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,120]
AgeGroups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], AgeBins, labels=AgeGroups)
purchase_data
Ageby2 = purchase_data.groupby("Age Group")
TotalCountofPurchase = Ageby2.count()
AveragePurchasePrice = Ageby2["Price"].mean()
Edit23 = TotalCountofPurchase.drop(columns=['Purchase ID', 'Age','Gender','Item ID',"Item Name"])
AgePurchaseTotal = Ageby2.sum()["Price"]
AgeDemographicsTotal = PlayerDemographics["Age"].value_counts()
AvgPPP = AgePurchaseTotal / AgeDemographicsTotal
SummaryAge_df1 = pd.merge(AveragePurchasePrice, Edit23, on="Age Group")
SummaryAge_df2 = SummaryAge_df1[["SN","Price_x"]]
SummaryAge_df3 = SummaryAge_df2.rename(columns={'SN':'Purchase Count','Price_x':"Average Purchase Price"})
SummaryAge_df3["Total Purchase Value"] = Ageby2["Price"].sum().map("${:.2f}".format)
SummaryAge_df3["Average Purchase Price"] = SummaryAge_df3["Average Purchase Price"].map("${:.2f}".format)
SummaryAge_df3["Avg Total Purchase per Person"]= AvgPPP.map("${:.2f}".format)
SummaryAge_df3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$nan
10-14,28,$2.96,$82.78,$nan
15-19,136,$3.04,$412.89,$nan
20-24,365,$3.05,$1114.06,$nan
25-29,101,$2.90,$293.00,$nan
30-34,73,$2.93,$214.00,$nan
35-39,41,$3.60,$147.67,$nan
40+,13,$2.94,$38.24,$nan

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
UserTotal = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
UserAverage = purchase_data.groupby(["SN"]).mean()["Price"].rename("Total Purchase Value")
UserCount = purchase_data.groupby(["SN"]).count()["Price"].rename("Total Purchase Value")

# user_average -> take purchase data -> group by SN -> mean of price -> rename("average purchase price")
# user_count -> "" -> count of price -> .rename("Purchase Count")

#convert to dataframe
user_data = pd.DataFrame({"Total Purchase Value":UserTotal.map("${:.2f}".format),
                          "Purchase Count":UserCount,
                          "Average Purchase Price":UserAverage.map("${:.2f}".format)})

#display the table by sorting values (hint: .sort_values())
user_data = user_data[["Purchase Count","Average Purchase Price","Total Purchase Value"]].sort_values("Purchase Count",
                                                                                                      ascending=False)

user_data.head()
#Formatting .map(.format())

#.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [47]:
MostPopular_df = purchase_data.loc[:,['Item ID','Item Name','Price']]
#groupby ItemID AND NameID at the same time
PurchaseCount = MostPopular_df.groupby(['Item ID','Item Name']).count()["Price"]
ItemPrice = MostPopular_df.groupby(['Item ID','Item Name']).max()["Price"]
ItemTotal = MostPopular_df.groupby(['Item ID','Item Name']).sum()["Price"]

ItemTotal
#Summary_df = pd.DataFrame({"Purchase Count":GroupedItems.count(),
                           #"Item Price":ItemPrice})
#Summary_df
#Sorted = Summary_df.sort_values(by=['Price'])
ItemData = pd.DataFrame({"Total Purchase Value":ItemTotal.map("${:.2f}".format),
                          "Purchase Count":PurchaseCount,
                          "Item Price":ItemPrice.map("${:.2f}".format)}).sort_values("Purchase Count",
                                                                                                      ascending=False)
ItemData.head()

,,Total Purchase Value,Purchase Count,Item Price
Item ID,Item Name,,,
92,Final Critic,$59.99,13,$4.88
178,"Oathbreaker, Last Hope of the Breaking Storm",$50.76,12,$4.23
145,Fiery Glass Crusader,$41.22,9,$4.58
132,Persuasion,$28.99,9,$3.33
108,"Extraction, Quickblade Of Trembling Hands",$31.77,9,$3.53

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [76]:
SortTPV = ItemData.sort_values("Total Purchase Value",ascending=False)
SortTPV.head()

,,Total Purchase Value,Purchase Count,Item Price
Item ID,Item Name,,,
63,Stormfury Mace,$9.98,2,$4.99
29,"Chaos, Ender of the End",$9.90,5,$1.98
173,Stormfury Longsword,$9.86,2,$4.93
38,"The Void, Vengeance of Dark Magic",$9.48,4,$2.37
143,Frenzied Scimitar,$9.36,6,$1.56