### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#loc 
PlayersList = purchase_data["SN"].unique()
NumberPlayers = len(PlayersList)
#.drop_duplicates
PlayersTotal_df = pd.DataFrame([[NumberPlayers]],columns=['Total Players'])
#.count
#create df, 
PlayersTotal_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# .mean of price for avg item price
#Total Purchase Value --> Sum function on price column
# Purchase Count --> .count
#number of unique values -> use unique function on item id column
#find length of that, will give count of items


#df to hold results, like shown below pd.DataFrame

#clean data into proper format
#display the table
# Number of Unique Items
UniqueItems = purchase_data["Item ID"].unique()
NumberItems = len(UniqueItems)
# Average Purchase Price
AveragePrice = purchase_data["Price"].mean()
AvgPrice = "${:.2f}".format(AveragePrice)
# Total Number of Purchases
TotalPurchases = purchase_data["Purchase ID"].count()
TotalPurchases
# Total Revenue
TotalRevenue = purchase_data["Price"].sum()
TtlRev = "${:.2f}".format(TotalRevenue)
PurchasingAnalysis_df = pd.DataFrame({
    "Number of Unique Items":[NumberItems],
    "Average Price":[AvgPrice],
    "Number of Purchases":[TotalPurchases],
    "Total Revenue":[TtlRev]})
PurchasingAnalysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [4]:
#AveragePrice = purchase_data["Price"].map("${:.2f}".format)
#AveragePrice
#"${:.2f}".format(purchase_data["Price"].mean())

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
#create df with username and gender
#calculate count and percentage by gender

Genders_df = purchase_data[["SN","Gender"]].drop_duplicates(subset=["SN"])
Genders_df

#.value_counts
#create variable that holds percentages (gendercount/totalplayers)
#create df
#will have line of code for formatting
#brackets after the parentheses inside valuecounts

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
773         Hala31    Male
774     Jiskjask80    Male
775     Aethedru70  Female
777     Yathecal72    Male
778        Sisur91    Male

[576 rows x 2 columns]

In [6]:
MaleCount = Genders_df["Gender"].value_counts()["Male"]
FemaleCount = Genders_df["Gender"].value_counts()["Female"]
OtherCount = Genders_df["Gender"].value_counts()["Other / Non-Disclosed"]
TotalCount = MaleCount + FemaleCount + OtherCount
MalePercent = MaleCount/TotalCount
MaleP  = "{:.2%}".format(MalePercent)
FemalePercent = FemaleCount/TotalCount
FemaleP  = "{:.2%}".format(FemalePercent)
OtherPercent = OtherCount/TotalCount
OtherP  = "{:.2%}".format(OtherPercent)

DisplayGenders_df = pd.DataFrame({
    "Total Count":[MaleCount,FemaleCount,OtherCount],
    "Percentage of Players":[MaleP,FemaleP,OtherP],
    "Gender":["Male","Female","Other / Non-Disclosed"]})
DisplayGenders_df

   Total Count Percentage of Players                 Gender
0          484                84.03%                   Male
1           81                14.06%                 Female
2           11                 1.91%  Other / Non-Disclosed

In [7]:
DisplayGenders_df = DisplayGenders_df.set_index("Gender")
DisplayGenders_df

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [19]:
#purchase_data.head()
GenderAnalysis_df = purchase_data[["Purchase ID","SN","Gender","Item ID","Age","Price"]]
#GenderAnalysis_df.head()
GroupedGender_df = GenderAnalysis_df.groupby(["Gender"])
GenderCount = GroupedGender_df["Gender"].value_counts()
PurchaseCount = GroupedGender_df["Purchase ID"].count()
AvgPrice = GroupedGender_df["Price"].mean()
TotalPurchaseValue = GroupedGender_df["Price"].sum()
# Average Total Purchase per Person: 
AvgTotalPPP = GroupedGender_df.sum()["Price"]/purchase_data["Gender"].value_counts()
#GenderSummary_df = pd.DataFrame({"Purchase Count": PurchaseCount,
                            #"Average Purchase Price": AvgPrice,
                            #"Total Purchase Value":TotalPurchaseValue,
                             #"Avg Total Purchase per Person":AvgTotalPPP})
#AvgTotalPPP
print(purchase_data["Gender"].value_counts())
print(GroupedGender_df.sum()["Price"])
print(AvgTotalPPP)
#GenderAnalysis_df.head()

#PurchaseCount = purchase_data[].value_counts()["Purchase ID"]

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
#Establish the bins
#Create 2 empty lists called "AgeBins" and "groupnames"
#Categorize using pd.cut
#Calc numbers and percentages by age group
#Proper formatting
#Display age demographics table using sort_index
AgeBins = [0,10,15,20,25,30,35,40,120]
AgeGroups = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
GenderAnalysis_df["Age Group"] = pd.cut(GenderAnalysis_df["Age"], AgeBins, labels=AgeGroups, include_lowest=True)
GenderAnalysis_df
Ageby = GenderAnalysis_df.groupby("Age Group")
TotalCount = Ageby.count()
PurchaseCount = Ageby.count()
TotalCount

           Purchase ID   SN  Gender  Item ID  Age  Price
Age Group
<10                 32   32      32       32   32     32
10-14               54   54      54       54   54     54
15-19              200  200     200      200  200    200
20-24              325  325     325      325  325    325
25-29               77   77      77       77   77     77
30-34               52   52      52       52   52     52
35-39               33   33      33       33   33     33
40+                  7    7       7        7    7      7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame